<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="{{ site_settings.logo_link }}">
      {% if logo %}
      {% logo "logo" width="40" %}
      {% else %}
      <span class="site-title">{{ site_settings.site_name }}</span>
      {% endif %}
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      {% set menu = menu('Main Nav', "site_root").children %}
      {% for link in menu %}
        {% if link.children %}
          <li class="nav-item dropdown">
        <a class="nav-link{% if link.activeNode %} active{% endif %} dropdown-toggle" href="{{ link.url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ link.label }}</a>
        <ul class="dropdown-menu">
            {% for child in link.children %}
              <li>
                <a class="dropdown-item" href="{{ child.url }}">{{ child.label }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link{% if link.activeNode %} active{% endif %}" href="{{ link.url }}">{{ link.label }}</a>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<!-- End partial -->