<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

{% macro menu_items() %}
  {% set menu = menu(module.menu, "site_root").children %}

  {% macro render_link_item(link, depth) %}
    <li class="nav-item {{ 'dropdown' if link.children and depth < module.max_levels }}">
      {% if link.url %}
        <a class="nav-link 
          {{ 'dropdown-toggle' if link.children and depth < module.max_levels }}
          {{ 'active' if link.activeNode }}" 
          href="{{ link.url|escape_url }}"
          {% if link.children and depth < module.max_levels %} data-bs-toggle="dropdown" role="button" aria-expanded="false" {% endif %}
          {% if link.activeNode %} aria-current="page" {% endif %}
          {% if link.linkTarget %} target="_blank" rel="noopener" {% endif %}>
            {{ link.label|escape_html }}
        </a>
      {% else %}
        {% if link.children and depth < module.max_levels %}
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ link.label|escape_html }}</a>
        {% else %}
          <span class="nav-link">{{ link.label|escape_html }}</span>
        {% endif %}
      {% endif %}
      {% if link.children %}
        {% if depth and depth < module.max_levels %}
          {% set depth = depth + 1 %}
          <ul class="dropdown-menu">
            {% for sublink in link.children %}
              {{ render_link_item(sublink, depth) }}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </li>
  {% endmacro %}

  {% for link in menu %}
    {{ render_link_item(link, 1) }}
  {% endfor %}
{% endmacro %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="{{ site_settings.logo_link }}">
      <img src="{{ site_settings.logo }}" alt="{{ site_settings.logo_alt_text }}" height="40">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {{ menu_items() }}
      </ul>
    </div>
  </div>
</nav>

<!-- End partial -->